# virtual env and ide settings
.env
.vscode
.venv

# python
**/*.pyc
__pycache__

# test documents
in/*.docx
out/*

# logs
**/*.log

# pytest
.pytest_cache

# other
source
source_doc